USE [master]
GO
/****** Object:  Database [Desafio_Bludata]    Script Date: 27/09/2020 19:04:21 ******/
CREATE DATABASE [Desafio_Bludata]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Desafio_Bludata', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Desafio_Bludata.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Desafio_Bludata_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Desafio_Bludata_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Desafio_Bludata].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Desafio_Bludata]
GO
/****** Object:  Table [dbo].[Empresa]    Script Date: 27/09/2020 19:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresa](
	[idEmpresa] [int] IDENTITY(1,1) NOT NULL,
	[nomeEmpresa] [nvarchar](50) NOT NULL,
	[cnpj] [nvarchar](18) NOT NULL,
	[uf] [nvarchar](2) NOT NULL,
 CONSTRAINT [PK_Empresa] PRIMARY KEY CLUSTERED 
(
	[idEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fornecedores]    Script Date: 27/09/2020 19:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fornecedores](
	[idFornecedor] [int] IDENTITY(1,1) NOT NULL,
	[nomeForn] [nvarchar](50) NOT NULL,
	[cpf_cnpj] [nvarchar](18) NOT NULL,
	[rg] [nvarchar](18) NULL,
	[nascimento] [date] NULL,
	[dataCadastro] [datetime] NOT NULL,
	[idEmpresa] [int] NOT NULL,
	[fisicaJuridica] [char](1) NOT NULL,
	[telefone] [nvarchar](14) NULL,
 CONSTRAINT [PK_Fornecedores] PRIMARY KEY CLUSTERED 
(
	[idFornecedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
